<!DOCTYPE html>
<html>
<head>
  <title>RenderLayoutBug</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
  <div id="contentHolder">
    <%= render 'layouts/content_holder'  %>
  </div>

</body>
</html>
